.dialogs {
    display: grid;
    grid-template-columns: 0.8fr 1fr 1.1fr;
    grid-template-rows: 0.6fr 0.7fr;
    gap: 0 0;
    grid-template-areas:
    "avatar dialogs messages"
    ". sendBlock .";
}

.avatar {
    grid-area: avatar;
    display: grid;
    justify-items: right;
}

.dialogs .avatar img {
    width: 50px;
    border-radius: 50%;
    margin-top: 10px;
}

.dialogsItems {
    grid-area: dialogs;
    margin: 0 auto;
    display: grid;
}

.dialogsItems .dialog {
    margin-top: 20px;
    text-decoration-line: none;
    font-size: 20px;
    color: black;
}

.dialogsItems .dialog:hover {
    color: gold;
}

.dialogsItems .dialog .active {
    text-decoration-line: none;
    color: coral;
}

.messages {
    grid-area: messages;
}

.messages .message {
    font-size: 15px;
    display: grid;
    margin-top: 11px;
    padding-top: 25px;
}

.sendBlock {
    grid-area: sendBlock;
    display: grid;
    align-content: center;
}


